* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0 !important;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:after,
q:before {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-user-select: auto;
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
}

legend {
  color: #000;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*单行文本省略号*/

.word {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.words2 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*多行文本省略号*/

.words3 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*垂直居中,容器设置宽高*/

.ycenter {
  align-items: center;
  display: -webkit-flex;
}

/*水平居中,容器设置宽高*/

.xcenter {
  justify-content: center;
  display: -webkit-flex;
}

/*盒子布局*/

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/*弹性布局水平垂直居中 兼容性高*/

.xycenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/*弹性布局水平居中 兼容性高*/

.xcenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*弹性布局垂直居中 兼容性高*/

.ycenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/*设置隐藏*/

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/*iphone678状态栏*/

.ioswrapMax {
  padding-top: 65px !important;
}

.ioswrapMax .head {
  height: 45px !important;
  padding-top: 20px !important;
}

/*iphone678plus状态栏*/

.iospluswrapMax {
  padding-top: 75px !important;
}

.iospluswrapMax .head {
  height: 45px !important;
  padding-top: 30px !important;
}

/*iphoneX状态栏*/

.iosxwrapMax {
  padding-top: 89px !important;
}

.iosxwrapMax .head {
  height: 45px !important;
  padding-top: 44px !important;
}

/* 跳转页面 */

.skip .main {
  padding: 8rem 0 1rem 0;
}

.skip .main img.logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.skip .main p {
  font-size: .85rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #373737;
}

.skip .main img.load {
  width: 4.40625rem;
  height: 1.96875rem;
}

.skip>.wrapMax,
.shareLink {
  display: none;
}

#tipsimg {
  display: none;
  width: 100%;
}

.skipBg {
  width: 100%;
  background: #fdecbc url('../image/bg_skip.png') no-repeat center top;
  background-size: 100% auto;
  overflow-y: scroll;
}

/* 主页面 */

body.adaptive,
body.apply {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 45px;
}

body.adaptive,
body.adaptive .head,
body.apply,
body.apply .head {
  background-color: #fff;
}

/* 头部样式 */

.head {
  width: 94%;
  height: 45px;
  padding: 0 3%;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.head .headl {
  position: absolute;
  margin-top: 15px;
  width: 20px;
  height: 18px;
}

.head .headl img {
  width: 10px;
  height: 17px;
}

.head .headTitle {
  line-height: 45px;
  font-size: 18px;
  text-align: center;
}

.head .headr {
  position: absolute;
  right: .46875rem;
  bottom: 13px;
}

.head .headr .share {
  width: 25px;
  height: 20px;
  margin-right: .46875rem;
}

.head .headr .share img {
  width: 20px;
  height: 17px;
}

.head .headr .exit {
  width: 27px;
  height: 20px;
}

.head .headr .exit img {
  width: 17px;
  height: 17px;
}

/* 弹窗 */

.popbg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  display: none;
}

.popbg .popBox {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 96%;
  padding: 0 2%;
}

.popbg .popBox div {
  background: white;
  border-radius: .625rem;
  overflow: hidden;
  margin-bottom: .5rem;
}

.popbg .popBox div p {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  text-align: center;
  color: #008eff;
}

.popbg .popBox div:first-child p:first-child {
  background: -webkit-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background: -moz-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background: -ms-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background-size: 100% 1px;
}

.box {
  background-color: #1c1a39;
  box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}

@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 4rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation: bounceInUp 0.2s linear;
}