/* 主页面 */

.apply .main,
.apply .already {
  width: 100%;
  height: 100vh;
}

.apply .main img {
  margin: 4.0625rem auto .625rem auto;
  width: 6.78125rem;
  height: 9.5625rem;
}

.apply .main h1 {
  line-height: 2.5rem;
  font-size: 1.125rem;
  font-weight: normal;
  color: #000;
}

.apply .main p {
  font-size: .875rem;
  color: #999;
}

.apply .main>a {
  display: block;
  margin: 1.25rem auto;
  width: 12.5rem;
  height: 3.125rem;
  line-height: 3.125rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  color: #fff;
  background: #47b2f9;
}

.apply .main>div {
  width: 100%;
  height: 3.125rem;
  margin-top: 3rem;
}

.apply .main>div a {
  display: block;
  float: left;
  width: 40%;
  height: 1.125rem;
  line-height: 1.125rem;
  padding: 0 5%;
  font-size: 1.125rem;
  color: #47b2f9;
}

.apply .main>div a:nth-child(1) {
  width: calc(40% - 1px);
  border-right: solid 1px #47b2f9;
  text-align: right;
}

.apply .main>div a:nth-child(2) {
  text-align: left;
}

.apply .already .notice {
  width: 94%;
  height: auto !important;
  height: 1.0375rem;
  min-height: 1.0375rem;
  line-height: 1.2rem;
  padding: .2rem 3%;
  font-size: .875rem;
  color: #47b2f9;
  background: #ddf1ff;
}

.apply .already .operate {
  width: 94%;
  height: 8.3125rem;
  padding: 0 3%;
  text-align: left;
  border-bottom: solid 1px #e0e0e0;
}

.apply .already .operate h1 {
  line-height: 3rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #000;
}

.apply .already .operate p {
  font-size: .875rem;
  color: #666;
}

.apply .already .operate a {
  display: block;
  margin: .625rem 0 .625rem 0;
  width: 5.8125rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 2.1875rem;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background: #47b2f9;
}

.apply .already>ul,
.search .bottom ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  padding: 0 3%;
}

.apply .already>ul {
  width: 100% !important;
  padding: 0 !important;
}

.apply .already>ul li,
.search .bottom ul li {
  width: 100%;
  height: 4.3125rem;
  text-align: left;
  border-bottom: solid 1px #e0e0e0;
}

.apply .already>ul li h1,
.search>.bottom ul li h1 {
  display: block;
  width: 99%;
  height: 4.3125rem;
  line-height: 4.3125rem;
  font-size: 1.0625rem;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.apply .already>ul li p,
.search .bottom ul li p {
  display: block;
  width: 99%;
  font-size: .9375rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 搜索页面 */

body.adaptive {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body.adaptive .head {
  position: absolute !important;
}

.search {
  width: 100%;
  position: relative;
}

.search .top {
  width: 100%;
  height: 4.375rem;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.search .top input[type="text"] {
  width: calc(94% - .625rem - 2.6875rem);
  height: 3.0625rem;
  line-height: 3.0625rem;
  margin: .625rem 3%;
  padding: 0 .625rem 0 2.6875rem;
  border: solid 1px #ececec;
  border-radius: .3rem;
  font-size: 1rem;
  color: #ccc;
  box-shadow: 0 .15625rem .9375rem rgba(0, 0, 0, .06);
  background: url('../image/icon_search.png') no-repeat left center;
  background-size: auto 100%;
}

.search .center {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  z-index: 10;
}

.search .center label {
  display: block;
  width: 94%;
  height: 2rem;
  line-height: 2rem;
  margin: 0 auto;
  font-size: 1.125rem;
  text-align: left;
  color: #000;
}

.search .center #area_dummy {
  display: block;
  width: 94%;
  height: 3.0625rem;
  line-height: 3.0625rem;
  margin: 0 auto;
  font-size: 1.125rem;
  text-align: left;
  color: #999;
  border: none;
  border-bottom: solid 1px #e0e0e0;
  background: url('../image/icon_arrow.png') no-repeat right center;
  background-size: auto 100%;
}

.search .bottom {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 10rem;
  background: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.search .bottom h2 {
  display: block;
  width: 94%;
  height: 2.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  font-size: .9375rem;
  font-weight: normal;
  text-align: left;
  color: #999;
}

.search .bottom ul li {
  position: relative;
}

.search .bottom ul li h1,
.search .bottom ul li p {
  width: 14.375rem !important;
}

.search .bottom ul li a {
  display: block;
  width: 4.375rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 1.875rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background: #47b2f9;
  margin-top: -0.9375rem;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

.search .bottom ul li div {
  width: 7.0625rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin-top: -0.9375rem;
  font-size: .9375rem;
  text-align: right;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

.hintBg {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.hintBox {
  display: none;
  width: 18.75rem;
  height: 10.4rem;
  border-radius: .78125rem;
  background: #fff;
  margin: -5.2rem 0 0 -9.375rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
}

.hintBox p {
  display: block;
  width: 15rem;
  height: 3rem;
  line-height: 1.5rem;
  margin: 1.1875rem auto .625rem auto;
  font-size: 1.0625rem;
  color: #1c1c1c;
}

.hintBox span {
  font-size: .9375rem;
  color: #999;
}

.hintBox a {
  display: block;
  width: 40%;
  height: 2.6875rem;
  line-height: 2.6875rem;
  padding: 0 5%;
  border-top: solid 1px #ddd;
  font-size: 1.0625rem;
  color: #47b2f9;
  position: absolute;
  bottom: 0;
}

.hintBox a:nth-of-type(1) {
  width: calc(40% - 1px);
  border-right: solid 1px #ddd;
  left: 0;
}

.hintBox a:nth-of-type(2) {
  right: 0;
}

.succeed {
  display: none;
  width: 7rem;
  height: 6.625rem;
  background: url('../image/popup_succeed.png') no-repeat center center;
  background-size: 100% 100%;
  margin: -3.3125rem 0 0 -3.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
}

/* 滑动删除 */

body.apply .wrapMax .already {
  overflow-x: hidden;
}

.session-box {
  width: calc(100% + 5rem) !important;
  overflow-x: auto;
  position: relative;
}

.session-box .session-content {
  float: left;
  width: calc(94% - 5rem) !important;
  padding: 0 3%;
}

.session-box .del-btn {
  float: left;
  width: 5rem;
  height: 4.3125rem;
  line-height: 4.3125rem;
  text-align: center;
  background: #ff3a31;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}